*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "milk";
    src: url(milk.ttf);
}

.tasks{
    margin-left: 10px;
    margin-top: 10px;
    max-width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    word-wrap: break-word;
}

input[type='radio']{
    width: 20px;
    height: 20px;
    flex-shrink: 0;  
}

input[type='radio']:checked{
    appearance: none;
    width: 20px;
    height: 20px;
    background-color: white;
    border: 5px solid #fb4474;
    border-radius: 100%;
}

#window{
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(to bottom right, #ff6539, #fb4474);
    text-align: center;
}

#container{
    height: 55vh;
    width: calc(90vw - 30px);
    margin: auto;
    background-color: rgba(255, 255, 255, 0.938);
    text-align: left;
    color: black;
    overflow: auto;
    border-radius: 5px;
    margin-bottom: 25px;
    margin-top: 25px;
}

p{
    padding: 15px;
    font-size: 19px;
    font-family: Arial, Helvetica, sans-serif;
}

input[type='text']{
    width: 40vw;
    padding:10px 5px;
    border-radius: 5px;
    border: 1px solid;
    outline: none;
}

h1{ 
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: "milk", Arial, Helvetica, sans-serif ;
    color: white;
    font-size: 35px;
}

#send{
    width: 33vw;
    padding: 10px 5px;
    border-radius: 5px;
    background-color: white;
    border: 1px solid;
    font-weight: bold;
    cursor: pointer;
}

#delete-btn{
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-evenly;
}

.apagar{
    padding: 10px 5px;
    border-radius: 5px;
    background-color: white;
    border: 1px solid; 
    font-weight: bold;
    cursor: pointer;
}

#send:hover{
    color: white;
    background-color: #AA29F2;
    border: 1px solid black;
}

.apagar:hover{
    color: white;
    background-color: #AA29F2;
    border: 1px solid black;
}

@media screen and (min-width:500px) {
    input[type='text']{
        width: 45%;
        padding: 13px;
        margin-right: 5px; 
        margin-top: 15px;
    }

    #send{
        width: 100px;
        padding: 13px;
    }

    #container{
        height: 55vh;
        width: 80%;
        border-radius: 5px;
        margin-bottom: 50px;
        margin-top: 50px;
    }

    .apagar{
        padding: 13px;
    }

    h1{
        font-size: 45px; 
    }
}

