* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "milk";
    src: url(milk.ttf);
}

.tasks {
    display: flex;
    align-items: center;
    padding: 10px;
    flex-wrap: nowrap;
    word-wrap: break-word;
}

input[type='radio'] {
    padding: 10px;
    margin: 0 5px;
    flex-shrink: 0;  
}


#window {
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(to bottom right, #000000, #345250);
    text-align: center;
}


#container {
    height: 55vh;
    width: calc(90vw - 30px);
    margin: 30px auto;
    background-color: rgba(255, 255, 255, 0.938);
    overflow: auto;
    border-radius: 5px;
}

p {

    font-size: 19px;
    font-family: Arial, Helvetica, sans-serif;
}


input[type='text'] {
    width: 40vw;
    padding: 10px 5px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    outline: none;
}

h1 {
    padding: 15px 0;
    font-family: "milk", Arial, Helvetica, sans-serif;
    color: white;
    font-size: 35px;
}

#send,
.apagar {
    padding: 10px 5px;
    border-radius: 5px;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.5);
    cursor: pointer;
    color: rgba(0, 0, 0, 0.8);
    font-weight: bold;
}

#delete-btn {
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
}

#send:hover,
.apagar:hover {
    color: white;
    background-color: #4573afb9;
    /* border: 1px solid black; */
}

@media screen and (min-width:500px) {
    input[type='text'] {
        width: 45%;
        padding: 13px;
        margin: 10px 5px 0 0;
    }

    #send {
        width: 100px;
    }

    #container{
        width: 80%;
        margin-bottom: 30px;
    }

    .apagar{
        padding: 10px 10px;
    }

}